include /_include/_mixin.pug

doctype html
html(lang="ja")
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-8MLD0Z0N3G")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-8MLD0Z0N3G');
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P36PRNS');
    // End Google Tag Manager
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='content-script-type', content='text/javascript')
    meta(http-equiv='content-script-type', content='text/css')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover')
    title 大森山王 | グッドライフジム（GOODLIFEGYM）定額通い放題のマンツーマン、セミパーソナルトレーニングジム
    meta(name='description', content=desc)
    meta(name='keywords', content='')
    // OGs
    +og("site_name", siteTitle)
    +og("title", title)
    +og("description", desc)
    +og("type", (layer == "top" ? "website" : "article"))
    +og("url", (layer == "top" ? siteUrl : siteUrl + pageUrl))
    +og("image", ogImgPath)
    // /OGs
    +css("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
    script(src="https://sdk.form.run/js/v2/formrun.js")
    script(src="https://www.google.com/recaptcha/api.js")
    +cssCommon("style.css?202106")
    +jsCommon("jquery-1.11.1.min.js")
    +jsCommon("slick.min.js")
    +jsCommon("jquery.colorbox-min.js")
    +jsCommon("common.js?2022-3")


  body.pageStores
    .l-wrapper
      include /_include/_header.pug
      h1.ttl  GOODLIFE GYM#[sup ®]大森山王
      .info
        dl
          dt  体験当日ご入会で初期費用が２万円お得に！
          dd  
            ul  
              li
                strong 入会金割引#[br]
                span 入会金30,000円→#[em 10,000円]
            a(href="#contact").u-btn1  お問い合わせはこちら
            .d_more ※現在、お申込を多数いただいております。#[br]今後、ご入会数に制限がかかる可能性がありますので、お早めに体験日確定をしていただくことをおすすめしております。
      main.l-cont
        article.photoZone 
          ul 
            li: img(src="./img/ph01.jpg?v3")
            li: img(src="./img/ph02.jpg?v3")
            li: img(src="./img/ph03.jpg?v3")
            li: img(src="./img/ph04.jpg?v3")
            li: img(src="./img/ph05.jpg?v3")
            li: img(src="./img/ph06.jpg?v3")
            li: img(src="./img/ph07.jpg?v3")
            li: img(src="./img/ph08.jpg?v3")
            li: img(src="./img/ph09.jpg?v3")



        article.outlineZone 
          h2.ttl2  ご利用案内
          .in
            dl
              dt  営業時間
              dd  月火水金 9:00-22:00, 木 15:00-22:00, 土祝 10:00-18:00
            dl
              dt  定休日
              dd  日曜日
            dl
              dt  住所
              dd  143-0023#[br]東京都大田区山王4-19-9引地ビル101
            //dl
              dt  アクセス
              dd  小伝馬町駅　徒歩2分#[br]馬喰町駅　徒歩２分#[br]馬喰横山駅　徒歩３分#[br]東日本橋駅　徒歩5分#[br]浅草橋駅　徒歩7分#[br]秋葉原駅　徒歩９分
            dl
              dt  設備・サービス
              dd  ​更衣室・トイレあり、無料レンタルシューズ
            //img(src="./img/sche.png")


        //article.outlineZone 
          h2.ttl2  お客様の声
          ul.voice 
            li 
              a(href="https://goo.gl/maps/7yvPZ6uRywzinj4Q8" target="_blank")
                img(src="img/i_v01.png")
            li 
              a(href="https://goo.gl/maps/PqK4aV3fA3Jgw6Pb8" target="_blank")
                img(src="img/i_v02.png")
          .voiceBtn
            a(href="https://www.google.com/maps/place/GOODLIFE+GYM(%E3%82%B0%E3%83%83%E3%83%89%E3%83%A9%E3%82%A4%E3%83%95%E3%82%B8%E3%83%A0)%E7%A8%B2%E6%AF%9B%E6%B5%B7%E5%B2%B8/@35.6282722,140.0723032,17z/data=!3m1!5s0x602283a6c7b34185:0xbcf612720f2434c7!4m8!3m7!1s0x602283ed04e3b1a1:0x7d74a5c4779817db!8m2!3d35.6282192!4d140.0745508!9m1!1b1!16s%2Fg%2F11nn1dw5rp?hl=ja-JP" target="_blank") もっと見る

        .mapZone
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3244.726850112452!2d139.72016000000002!3d35.5851332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601861fda79cddb5%3A0xd39f5da55bff1ecc!2zR09PRExJRkUgR1lNKOOCsOODg-ODieODqeOCpOODleOCuOODoCkg5aSn5qOu5bGx546L5bqX!5e0!3m2!1sja!2sjp!4v1668127101133!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        article.trainerZone
          .u-enTxt TRAINER
          .u-inner
            h2.u-ttl1 ​トレーナー紹介
          #app.trainerBox.box2
            template(v-for="(item, index) in posts")
              .col(v-if="item.acf.store.includes('大森山王店')")
                .ph
                  img(v-bind:src="item.acf.photo1", loading="lazy")
                  img.cov(v-bind:src="item.acf.photo2", loading="lazy")
                h3.taC
                  span {{item.title.rendered}}
                  div(v-html="item.content.rendered")

          //.trainerBox.box2
            .col 
              .ph
                +img("trainer/ph_yuta_02.jpg?2021062")
                +img("trainer/ph_yuta_01.jpg?2021062","","cov")
              h3.taC #[span ユウタ]#[br]メイントレーナー
            .col 
              .ph
                +img("trainer/ph_masaki_02.jpg?2021062")
                +img("trainer/ph_masaki_01.jpg?2021062","","cov")
              h3.taC #[span マサキ]#[br]トレーナー
        article.priceZone#price
          .u-enTxt PRICE
          .u-inner
            h2.u-ttl1 ​料金のご案内
            p スケジュールに合わせて通い放題・週1プランからご選択いただけます。
            .planArea
              .planBox
                .contWrap.is-active
                  ul.planList
                    li
                      .lm_ic 人数限定
                      h3 セミパ通い放題
                      span.monthly 月額#[em 19,800]円(税込)
                      p.recommend セミパーソナルトレーニング#[br]通い放題#[br]【他店舗相互利用可能】
                      
                    li
                      h3 セミパ週１回
                      span.monthly 月額#[em 14,800]円(税込)
                      p.recommend セミパーソナルトレーニング#[br]週１回（月４～５回分）​​
                    li
                      .lm_ic 人数限定
                      h3 マンツーマン通い放題
                      span.monthly 月額#[em 34,800]円(税込)
                      p.recommend マンツーマンパーソナル#[br]トレーニング通い放題#[br]【他店舗相互利用可能】
                    li
                      h3 マンツーマン週１回
                      span.monthly 月額#[em 24,800]円(税込)
                      p.recommend マンツーマン#[br]パーソナルトレーニング#[br]週１回（月４～５回分）
                  span.planNote ＊ご入会日より1ヶ月以内でプラン開始日をお選びいただけます#[br]＊月の途中からのプラン開始も可能です#[br](例)4/20ご入会の場合、4/21〜5/20の期間内でプラン開始日をお選びいただけます
                  
                
                .tableBox
                  table
                    tr
                      th カウンセリング＆初回体験料
                      td 3,000円 
                    tr
                      th 入会金・登録料
                      td #[span.price 30,000円] → #[em 【キャンペーン中】初回体験当日のご入会で入会金10,000円]
                    tr
                      th 毎月のお支払い方法
                      td 銀行振込またはクレジットカード#[small (VISA/master/AMEX/JCB/Diners/Discover)]

        article.contactZone
          .u-enTxt#contact CONTACT
          .u-inner
            +ttl1("大森山王店 お問い合わせ")
            p.u-lead1 カウンセリング、初回体験をご希望の方は、#[br]以下のメールフォームよりお問合せください。
            // class, action, methodを変更しないでください
            .formBox
              form.formrun(action="https://form.run/api/v1/r/2gvzguqejech77fkbdblle9f" method="post")
                // ↓自由に要素を追加・編集することができます
                - var shopName = "大森山王店"
                include /_index_cont/_contact.pug


        article.storesZone#access
          include /_index_cont/_stores.pug



      include /_include/_footer.pug

