include /_include/_mixin.pug

doctype html
html(lang="ja")
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-8MLD0Z0N3G")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-8MLD0Z0N3G');
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P36PRNS');
    // End Google Tag Manager
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='content-script-type', content='text/javascript')
    meta(http-equiv='content-script-type', content='text/css')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover')
    title GOODLIFE GYM extra 高円寺 定額通い放題のマンツーマン、セミパーソナルトレーニングジム
    meta(name='description', content=desc)
    meta(name='keywords', content='')
    // OGs
    +og("site_name", siteTitle)
    +og("title", title)
    +og("description", desc)
    +og("type", (layer == "top" ? "website" : "article"))
    +og("url", (layer == "top" ? siteUrl : siteUrl + pageUrl))
    +og("image", ogImgPath)
    // /OGs
    +css("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
    script(src="https://sdk.form.run/js/v2/formrun.js")
    script(src="https://www.google.com/recaptcha/api.js")
    +cssCommon("style.css?202106")
    +jsCommon("jquery-1.11.1.min.js")
    +jsCommon("slick.min.js")
    +jsCommon("jquery.colorbox-min.js")
    +jsCommon("common.js?2022-3")


  body.pageStores.ex
    .l-wrapper
      include /_include/_header.pug
      h1.ttl  GOODLIFE GYM#[sup ®]extra #[br.sp]高円寺#[br]
      //.info
        dl
          dt  高円寺オープンキャンペーン
          dd  
            ul
              li  
                span #[b 初回体験] 3,000円→#[em 無料]　
                p 
                  b 初回体験当日のご入会で #[br]
                  span ・入会金30,000円→#[em 10,000円]　#[br]
                  span ・初回2ヶ月会費特別価#[br]セミパ通い放題19,800円→#[em 14,800円]#[br]セミパ週一14,800円→#[em 9,800円]#[br]
      main.l-cont
        article.photoZone 
          ul 
            li: img(src="./img/ph01.jpg?2021062")
            li: img(src="./img/ph01.jpg?2021062")
            li: img(src="./img/ph01.jpg?2021062")
            li: img(src="./img/ph01.jpg?2021062")


        article.specialZone 
          h2.ttl2  整体×トレーニングで#[br]鍛える、整える、キレイになる。
          .img 
            img(src="./img/img.jpg?2021062")
          p.lead 「GOODLIFE GYM®extra」は完全マンツーマンの整体院×パーソナルトレーニングジム（会員制）です。#[br.pc]洗練された空間の中で柔道整復師と鍼灸師の資格を取得をもった経験豊富なトレーナーが、#[br.pc]メディカルとフィジカル両面から最適なボディメイクをご提供します。
          p.lead ダイエットしたい方、体力、筋力をつけたい方、大会を目指す方、肩や腰の痛みでお困りの方まで、#[br.pc]お客様の目的とコンディションにあったトレーニングを行えます。

          .specialPrice 
            dl 
              dt コーチング内容
              dd  カウンセリング・パーソナルトレーニング・食事栄養指導・整体#[br]1回のトレーニング時間は30分または60分から選択いただきます。
            dl 
              dt 利用料金
              dd  
                p  #[span 30分 6,000円](税込)　　#[br.sp]#[span 60分 9,000円](税込) 
            dl 
              dt 会費
              dd  
                p  #[span 1ヶ月 6,000円](税込) #[br]30分のトレーニング一回分の利用料金が含まれています。
            dl 
              dt  入会金
              dd #[span 10,000円]
            dl 
              dt 初回カウンセリング&#[br.pc]コンディションチェック
              dd  #[b 60分XXXXX円]→#[em ご契約でキャッシュバック]

          
          //
            h3 GOODLIFE GYM代表リョウタが#[br.sp]毎月1名限定で特別指導いたします！
            ul.serviceBox
              li #[span POINT1] #[p 毎月限定1名 短期集中でボディメイクを学べる]
              li 
                span POINT2
                p ボディコンテスト選手としても活躍するGOODLIFE GYM代表「リョウタ」が#[br.pc]マンツーマンでトレーニングや栄養管理をサポート（
                  a(href="#prof") 代表プロフィール
                  | ）
              li #[span POINT3] #[p ボディメイクのための食事栄養指導と必要なサプリメントの選定]
              li #[span POINT4] #[p 運動初心者だけでなく、コンテスト出場やトレーナーになりたい方など#[br.pc]目的・目標に合わせた細やかな指導とカウンセリング]
          //
            h3 こんな方におすすめ
            ul.recomBox
              li
                .img 
                  img(src="img/recom1.png")
                p 短期で集中して#[br]ボディメイクをしたい方
                  span パーソナルトレーニング、食事栄養指導、#[br.sp]自主トレメニュー作成など
              li
                .img 
                  img(src="img/recom2.png")
                p ボディコンテストに出場したい方、#[br]結果を出したい方
                  span  バルクアップ指導、減量指導、ポージング指導、#[br.sp]コンテスト当日までのサポートなど

              li
                .img 
                  img(src="img/recom3.png")
                p パーソナルトレーナーに#[br.pc]なりたい方
                  span  トレーナーに必要なスキル獲得から#[br.sp]トレーナーデビューまでをサポート
                    img(src="img/flow.jpg")
              

        article.trainerZone 
          .u-enTxt TRAINER
          .u-inner
            h2.u-ttl1 ​トレーナー紹介
            .daihyouBox
              .img 
                img(src="img/ph01.jpg?2021062")
              .txt 
                h4 名前が入る
                  span  GOODLIFE GYM®extra メイントレーナー
                p 経歴が入るテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            .daihyouBox
              .img 
                img(src="img/ph01.jpg?2021062")
              .txt 
                h4 名前が入る
                  span  GOODLIFE GYM®extra メイントレーナー
                p 経歴が入るテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          //
            .daihyouBox
              .img 
                img(src="img/ryota.jpg")
              .txt 
                h4 GOODLIFE GYM 代表 リョウタ
                  span  起業家、パーソナルトレーナー、#[br]フィジークコンペティター#[br]1986年9月14日生　東京都足立区出身
                p 10年間の会社員生活(セールスマン・セールスマネジャー)を経て、自らのダイエットやボディメイクの経験を活かしパーソナルトレーナーに転身。#[br]2019年8月　GOODLIFE GYMを独立開業。#[br]2020年8月　GOODLIFE GYM複数店舗展開。#[br]2021年1月　合同会社GOODLIFE設立。#[br]指導実績延べ1万セッション超え。#[br]ボディコンテスト選手指導実績多数。
            //
              .box 
                h4 ボディメイク実績
                .img2
                  picture
                    source( srcset="img/flow_sp.jpg" media="(max-width: 767px)")


        article.outlineZone 
          h2.ttl2  ご利用案内
          .in
            dl
              dt  住所
              dd  166-0003#[br]東京都杉並区高円寺南4-40-1
            dl
              dt  設備・サービス
              dd  ​ウエア・タオル・シューズ無料レンタル、更衣室・トイレあり
            dl
              dt  XXXXX
              dd  XXXXXXX
            dl
              dt  XXXXX
              dd  XXXXXXX
            dl
              dt  XXXXX
              dd  XXXXXXX


        .mapZone
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.8493418680387!2d139.65222041525954!3d35.70532488018863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f3b2b83b382d%3A0x4516216fecfd4abd!2zR09PRExJRkUgR1lNIGV4dHJhKOOCsOODg-ODieODqeOCpOODleOCuOODoOOCqOOCr-OCueODiOODqSnpq5jlhoblr7o!5e0!3m2!1sja!2sjp!4v1627971073737!5m2!1sja!2sjp' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy')



        article.contactZone
          .u-enTxt#contact CONTACT
          .u-inner
            +ttl1("高円寺店 お問い合わせ")
            p.u-lead1 カウンセリング、初回体験をご希望の方は、#[br]以下のメールフォームよりお問合せください。
            // class, action, methodを変更しないでください
            .formBox
              form.formrun(action="https://form.run/api/v1/r/te9qvh8jtns12iwqjrfxogji" method="post")
                // ↓自由に要素を追加・編集することができます
                - var shopName = "高円寺店"
                .row
                  label お名前 #[span.must 必須]
                  input(name="お名前" type="text" placeholder="山田 太郎"  required)
                .row
                  label メールアドレス #[span.must 必須]
                  input(name="メールアドレス" type="text" placeholder="example@mail.com" data-formrun-type="email"  required)
                .row
                  label ご希望の店舗 
                  ul.column
                    li 
                      label 
                        input(name="ご希望の店舗" type="hidden" value=shopName)
                        | #{shopName} 

                .row
                  label ご希望のプラン #[span.must 必須]
                  ul
                    li 
                      label 
                        input(name="ご希望のプラン" type="checkbox" value="初回カウンセリング&コンディションチェック")
                        | 初回カウンセリング&コンディションチェック
                    li  
                      label 
                        input(name="ご希望のプラン" type="checkbox" value="お問い合わせ")
                        | お問い合わせ
                .row
                  label どのような目的ですか？
                  select(name="どのような目的ですか？")
                    option(value="")  選択してください
                    option(value="ダイエット/ボディメイクしたい")  ダイエット/ボディメイクしたい
                    option(value="コンテスト出場したい")  コンテスト出場したい
                    option(value="トレーナーになりたい")  トレーナーになりたい
                    option(value="その他")  その他(お問い合わせ内容にご記載ください)
                .row
                  label 当ジムを知ったきっかけ
                  select(name="当ジムを知ったきっかけ")
                    option(value="")  選択してください
                    option(value="インターネット検索")  インターネット検索
                    option(value="GOOGLEマップ検索")  GOOGLEマップ検索
                    option(value="SNS")  SNS
                    option(value="店頭看板")  店頭看板
                    option(value="チラシ")  チラシ
                    option(value="知人からの紹介")  知人からの紹介

                .row
                  label ご希望の⽇時（第1希望） #[span.must 必須]
                  .date
                    input(name="ご希望の⽇（第1希望）" type="date"  required )
                    select(name="ご希望の時間（第1希望）" type="date"  required )
                      option(value="何時でもOK")  何時でもOK
                      option(value="9～15時")  9～15時
                      option(value="15～22時")  15～22時
                      option(value="9～12時")  9～12時
                      option(value="12～15時")  12～15時
                      option(value="15～18時")  15～18時
                      option(value="20～22時")  20～22時
                .row
                  label ご希望の⽇時（第2希望） #[span.must 必須]
                  .date
                    input(name="ご希望の⽇（第2希望）" type="date"  required )
                    select(name="ご希望の時間（第2希望）" type="date"  required )
                      option(value="何時でもOK")  何時でもOK
                      option(value="9～15時")  9～15時
                      option(value="15～22時")  15～22時
                      option(value="9～12時")  9～12時
                      option(value="12～15時")  12～15時
                      option(value="15～18時")  15～18時
                      option(value="20～22時")  20～22時
                .row
                  label ご希望の⽇時（第3希望） #[span.must 必須]
                  .date
                    input(name="ご希望の⽇（第3希望）" type="date"  required )
                    select(name="ご希望の時間（第3希望）" type="date"  required )
                      option(value="何時でもOK")  何時でもOK
                      option(value="9～15時")  9～15時
                      option(value="15～22時")  15～22時
                      option(value="9～12時")  9～12時
                      option(value="12～15時")  12～15時
                      option(value="15～18時")  15～18時
                      option(value="20～22時")  20～22時
                .row
                  label 電話番号 #[span.must 必須]
                  input(name="電話番号" type="text"  required  placeholder="0123456789")
                .row
                  label お問い合わせ内容 
                  textarea(name="お問い合わせ内容"   placeholder="お問い合わせ内容を入力(知人からの紹介の方はこちらにご紹介者のお名前を記載ください)")

                // ボット投稿をブロックするためのタグ
                ._formrun_gotcha
                  style(media="screen").
                    ._formrun_gotcha {position:absolute!important;height:1px;width:1px;overflow:hidden;}
                  label(for="_formrun_gotcha") If you are a human, ignore this field
                  input#_formrun_gotcha(type="text" name="_formrun_gotcha" tabindex="-1")

                .rowRcap
                  .g-recaptcha(data-sitekey="6LfD0JQaAAAAAKtPPhOY-IlUZHPYISkGlOX2U2bW")
                button(type="submit" data-formrun-error-text="未入力の項目があります" data-formrun-submitting-text="送信中..." ) 送信




        article.storesZone#access
          include /_index_cont/_stores.pug

      include /_include/_footer.pug

